insert into config_app (client_id_ifood_mercado, client_secret_ifood_mercado) values ('b090431c-f2aa-48c2-95ce-7e474362d964', 'uf57Q~1VVNdS3r_KZsRBs-khqK5Yttet1yUaW');
INSERT INTO produtos_integracao (ativo,categoria,codigo_barra,data_ultima_itegracao,departamento,descricao,id_loja,image_url,integrar,marca,nome,plu,quantidade_atacado,quantidade_estoque_atual,quantidade_estoque_minimo,sub_categoria,unidade,validade_proxima,valor,valor_atacado,valor_compra,valor_promocao,volume) VALUES (1,'PADRAO','7891231231231','0000-00-00 00:00:00','PERECIVEIS','ALIMENTICIOS',1,'',1,'','ARROZ FANTASTICO 5KG T1','17',1,3,10,'','KG',0,26.90,1.00,21.58,1.00,'1KG');